@use "../../../../scss/utils/variables" as *;
@use "../../../../scss/utils/mixins" as *;
@use "../../../../scss/base/typography" as *;

section {
  width: 40px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1121;
  background: rgba(0, 31, 63, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(12, 91, 170, 0.3);
  padding: 20px;

  .topSec {
    .hamburger {
      padding: 0 !important;
      margin: 0 !important;
    }

    button.hamburger .hamburger-inner,
    .hamburger .hamburger-inner::before,
    .hamburger .hamburger-inner::after {
      background-color: white !important;
    }
  }

  nav {
    ul {
      width: 100%;
      @include flex(column, flex-start, flex-start, wrap);
      gap: 30px;
      padding: 8px;

      li {
        width: fit-content;
        padding-top: 50px;
        list-style: none;
        @include flex(row, flex-start, center, wrap);
        gap: 25px;
        color: white;
        cursor: pointer;

        i {
          font-size: 20px;
        }

        span {
          display: none;
          font-family: $inter;
          text-transform: capitalize;
        }

        .activeText {
          display: block;
        }
      }
    }
  }
}

.active {
  width: 300px;
}

// <i class="fa-solid fa-magnifying-glass"></i>

// ტრენდული მუსიკები
// <i class="fa-solid fa-chart-simple"></i>

// არტისტები
// <i class="fa-solid fa-music"></i>

// ახალი გამოსული მუსიკები
// <i class="fa-solid fa-fire"></i>
