<main>
  <div class="content">
    <div class="sideContainer">
      <div class="inputContainer">
        <form>
          <input
            [formControl]="searchControl"
            type="text"
            id="artistSearch"
            placeholder="search for artist"
          />
        </form>
      </div>
      <div class="genres">
        <div class="chosenGenre">
          <div class="lil-title">
            <p>
              {{
                (chosenGenre$ | async) ? "Selected genre" : "No genres selected"
              }}
            </p>
          </div>

          @for (item of (chosenGenre$ | async); track $index) {
          <a class="chosen">
            <span (click)="removeGenre(item)">
              <i class="fa-solid fa-xmark"></i>
            </span>
            {{ item.name }}
          </a>
          }
        </div>

        <div class="baseGenres">
          <div class="box-title">
            <p>Search by genre</p>
          </div>

          <div class="anchors">
            @for (genre of (genres$ | async); track $index) {
            <a (click)="addGenre(genre)">{{ genre.name }}</a>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="wrapContent">
      <app-artist-profile [artistInfo]="profile$ | async" />
      <div class="foundItems">
        @if (!(artist$ | async)) {
        <app-card
          *ngFor="let item of searchResults$ | async"
          [base_input]="item"
        />
        }

        <app-artist-card
          *ngFor="let item of artist$ | async"
          (emitId)="fetchSpecArtist($event)"
          [artistInput]="item"
        />
      </div>
    </div>
  </div>
</main>
