// Background ფერები მთავარი გვერდისთვის და ასევე
// კომპონენტების ფერები.
$primary-bg-color: #010e1e;
$primary-card-bg: #043b76;
$text-container-bg: #2c698d;

// ფონტის ფერები
$base-white-font: white;

// Border ის ფერები
$base-card-border-bg: 1px solid #39ff14;

// ძირითადი მეორეხარისხოვანი ფერები
$neon-green: #39ff14;
