// ფონტები

$montserrat-font: "Montserrat", "sans-serif";

$inter: "Inter", "sans-serif";

$raleway: "Raleway", "sans-serif";

$roboto: "Roboto", "sans-serif";

$space-grotesk: "Space Grotesk", "sans-serif";
