@use "../../../../scss/utils/variables" as *;
@use "../../../../scss/utils/mixins" as *;
@use "../../../../scss/base/typography" as *;

.music-card {
  width: 250px;
  height: 450px;
  background-color: $main-card-bg;
  border-radius: 10px;
  border: 1px solid white;
  font-family: $raleway;
  color: white;
  @include flex(column, center, flex-start);
  gap: 15px;
  padding: 15px;

  .card-head {
    width: 150px;

    .imgC {
      width: 250px;

      img {
        width: 250px;
        height: 250px;
        object-fit: contain;
      }
    }
  }

  .card-body {
    width: 150px;
    color: white;
    gap: 30px;

    .music-description {
      width: 250px;
      font-size: 14px;
    }
  }

  .player-controls {
    width: 150px;
    margin: auto;
    @include flex(column, center, center, wrap);
    background-color: black;
  }
}
